
.total-line td {
    padding-top: 0.75em;
}
td:last-child, th:last-child {
    text-align: right;
}
td, th {
    padding: 0;
    padding-left: 1em;
}
user agent stylesheet
td {
    display: table-cell;
    vertical-align: inherit;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
}
user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.sidebar {
    position: relative;
    color: #717171;
}
body {
    color: #737373;
    background: white !important;
    font-size: 14px;
    font-family: Helvetica Neue, sans-serif;
    line-height: 1.3em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
    overflow-x: hidden;
}
::selection {
    background: #338dbc;
    color: white;
}
.flexbox body, .flexbox .content, .flexbox .content .wrap, .flexbox .main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
    color: #737373;
    background: white !important;
    font-size: 14px;
    font-family: Helvetica Neue, sans-serif;
    line-height: 1.3em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
    overflow-x: hidden;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
::selection {
    background: #338dbc;
    color: white;
}