<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shooz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>

    <span th:replace="~{/layout/header.html}"></span>

    <!-- header slide -->

    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://theme.hstatic.net/1000376021/1000834008/14/slideshow_1.jpg?v=986" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://theme.hstatic.net/1000376021/1000834008/14/slideshow_2.jpg?v=986" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://theme.hstatic.net/1000376021/1000834008/14/slideshow_3.jpg?v=986" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://theme.hstatic.net/1000376021/1000834008/14/slideshow_4.jpg?v=986" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://theme.hstatic.net/1000376021/1000834008/14/slideshow_5.jpg?v=986" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon " style="background-color: black;" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
        </div>
    </div>

    <article class="container">

        <div class="textproduct">
            <h2 class="newproduct">SPECIAL OFFERS</h2>
        </div>

        <div class="listProduct">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="card" style="width: 14rem;">
                        <img src="https://product.hstatic.net/1000376021/product/j25fyc_c2010_1_88df1bd042254316b8572adf538ccbb5_large.jpg" style="max-width: 100%;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Giày Sandals Trẻ Em GEOX J S.Starblush G.C
                            </h5>
                            <p class="card-text">3.300.000 đ</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="card" style="width: 14rem;">
                        <img src="https://product.hstatic.net/1000376021/product/j25fyc_c2010_1_88df1bd042254316b8572adf538ccbb5_large.jpg" style="max-width: 100%;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Giày Sandals Trẻ Em GEOX J S.Starblush G.C
                            </h5>
                            <p class="card-text">3.300.000 đ</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="card" style="width: 14rem;">
                        <img src="https://product.hstatic.net/1000376021/product/j25fyc_c2010_1_88df1bd042254316b8572adf538ccbb5_large.jpg" style="max-width: 100%;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Giày Sandals Trẻ Em GEOX J S.Starblush G.C
                            </h5>
                            <p class="card-text">3.300.000 đ</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="card" style="width: 14rem;">
                        <img src="https://product.hstatic.net/1000376021/product/j25fyc_c2010_1_88df1bd042254316b8572adf538ccbb5_large.jpg" style="max-width: 100%;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Giày Sandals Trẻ Em GEOX J S.Starblush G.C
                            </h5>
                            <p class="card-text">3.300.000 đ</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="card" style="width: 14rem;">
                        <img src="https://product.hstatic.net/1000376021/product/j25fyc_c2010_1_88df1bd042254316b8572adf538ccbb5_large.jpg" style="max-width: 100%;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Giày Sandals Trẻ Em GEOX J S.Starblush G.C
                            </h5>
                            <p class="card-text">3.300.000 đ</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="card" style="width: 14rem;">
                        <img src="https://product.hstatic.net/1000376021/product/j25fyc_c2010_1_88df1bd042254316b8572adf538ccbb5_large.jpg" style="max-width: 100%;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Giày Sandals Trẻ Em GEOX J S.Starblush G.C
                            </h5>
                            <p class="card-text">3.300.000 đ</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="card" style="width: 14rem;">
                        <img src="https://product.hstatic.net/1000376021/product/j25fyc_c2010_1_88df1bd042254316b8572adf538ccbb5_large.jpg" style="max-width: 100%;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Giày Sandals Trẻ Em GEOX J S.Starblush G.C
                            </h5>
                            <p class="card-text">3.300.000 đ</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="card" style="width: 14rem;">
                        <img src="https://product.hstatic.net/1000376021/product/j25fyc_c2010_1_88df1bd042254316b8572adf538ccbb5_large.jpg" style="max-width: 100%;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Giày Sandals Trẻ Em GEOX J S.Starblush G.C
                            </h5>
                            <p class="card-text">3.300.000 đ</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="wrapbox-shadow">
                            <h2><span style="color: #ffdd00;">
									NEW
								</span></h2>
                            <div class="parallax-img">
                                <picture>
                                    <img data-src="https://theme.hstatic.net/1000376021/1000834008/14/pro_featured_img.png?v=986" class=" lazyloaded" alt="Giày Sneakers Nữ GEOX D Spherica A" src="//theme.hstatic.net/1000376021/1000834008/14/pro_featured_img.png?v=986">
                                </picture>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wrapbox-detail">
                            <h3><a href="#">Giày Sneakers Nữ GEOX D Spherica A</a></h3>
                            <div class="productTab-loop">
                                <h3>ĐẶC TÍNH SẢN PHẨM</h3>
                                <div class="tab-content">
                                    Một lối sống năng động đòi hỏi bạn phải luôn nhẹ nhàng trên chính đôi chân của mình. Geox Spherica™ với công nghệ Zero Shock mới đến từ Geox, Italia sẽ gây ấn tượng cho bạn khi sử dụng bởi khả năng linh hoạt, nhẹ nhàng mang đến cảm giác “nhẹ như không”
                                    cùng khả năng bảo vệ tối đa. Đặc biệt, với sắc hồng “trendy” cực kì thời trang và nữ tính, Geox Spherica™ mới sẽ chinh phục bạn ngay lần đầu trải nghiệm.

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </article>

    <span th:replace="~{/layout/footer.html}"></span>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>