<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">

<title>Nhập mã xác nhận</title>
</head>
<body>
	<div class="container" style="width: 500px; height: 500px;">
		<h5 class="text-center" style="margin-top: 10%;">NHẬP MÃ XÁC NHẬN</h5>
		<div class="card">
			<div class="card-body">
				<form class="row g-2" th:action="@{/user/forgot/code}"
					th:object="${codeTK}" method="post">
					<div class="col-auto">
						<label>Mã xác nhận đang gửi đến Email: </label>
					</div>
					<div class="row" style="margin-top: 10px">
						<div class="col-8">
							<input type="text" class="form-control" id="inputPasscode"
								name="codecfm" placeholder="Nhập mã kích hoạt tài khoản"
								style="width: 250px"> <br> 
								<i> <span style="color: red;">[[${message}]]</span></i>
						</div>
						<div class="col-4">
							<button class="btn btn-warning mb-3">Xác nhận</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>